In [2]:
import pandas as pd
import random
import string

### Data generation

In [3]:
num_names = 1000

names = [''.join(random.choices(string.ascii_letters, k=random.randint(5, 10))) for _ in range(num_names)]

df = pd.DataFrame({'Name': names})
yy=  [''.join(random.choices(['19','20','21','22'], k=1)) for _ in range(num_names)]
bra=  [''.join(random.choices(['BCB','BCE','BCT','BDS','BKT','BBS'], k=1)) for _ in range(num_names)]
regn=[]
for i in range(num_names):
    rand= random.randint(1, 4000)
    numb = str(rand).zfill(4)
    s=yy[i]+bra[i]+numb
    regn.append(s)
df['RegistrationNo']=regn

In [4]:
block=  [''.join(random.choices(['A','B','C','D','E','F','G','H'], k=1)) for _ in range(num_names)]
df['Block']=block
mess=  [''.join(random.choices(['Sakthi Veg','Sakthi Non-Veg', 'Darling-special', 'Neelkesh Veg', 'Neelkesh Special'], k=1)) for _ in range(num_names)]
df['MessType']=mess

In [5]:
for i in range(1,31):
    atten=  [''.join(random.choices(['P','A'], [0.8,0.2], k=1)) for _ in range(num_names)]
    date=str(i)
    df[date]=atten

In [6]:
df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,21,22,23,24,25,26,27,28,29,30
0,yBvwB,20BKT3458,E,Sakthi Non-Veg,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,P,A
1,ClAye,20BKT2525,E,Neelkesh Special,A,P,P,P,A,P,...,P,P,P,P,P,P,P,P,P,A
2,EcvZRykisk,22BBS0526,D,Sakthi Veg,P,P,P,P,P,P,...,A,P,P,A,P,P,P,P,P,P
3,bkjzhaX,22BCE0570,B,Darling-special,P,P,P,A,P,P,...,P,A,P,P,A,A,P,P,P,A
4,UjGGsL,19BCT2132,G,Sakthi Non-Veg,A,P,P,P,A,P,...,A,P,P,P,P,P,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,uxIZXA,19BBS1008,E,Darling-special,P,P,A,P,P,P,...,P,A,P,P,A,P,P,P,P,A
996,uzdcWI,19BBS0049,C,Sakthi Non-Veg,P,A,P,P,P,P,...,P,P,A,P,P,P,A,A,P,P
997,ZrWYtLi,21BCT2501,D,Darling-special,A,P,P,A,P,P,...,P,P,P,P,P,P,P,P,P,A
998,RSzxp,22BKT1271,D,Neelkesh Veg,P,A,P,P,P,P,...,P,P,P,P,A,P,P,P,A,A
999,GWNFhAVcS,19BCB2842,G,Darling-special,P,P,P,P,A,A,...,P,A,A,P,P,P,P,P,A,P

### Data encoding and feature generation

In [7]:
mapping = {'A': 0, 'P': 1}
for i in range(1,31):
    df[str(i)]=df[str(i)].map(mapping)

In [9]:
dates=[]
for i in range(1,31):
    dates.append(str(i))
df['TotalPresent'] = df[dates].sum(axis=1)

In [10]:
df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,TotalPresent
0,yBvwB,20BKT3458,E,Sakthi Non-Veg,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,28
1,ClAye,20BKT2525,E,Neelkesh Special,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,0,22
2,EcvZRykisk,22BBS0526,D,Sakthi Veg,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,25
3,bkjzhaX,22BCE0570,B,Darling-special,1,1,1,0,1,1,...,0,1,1,0,0,1,1,1,0,25
4,UjGGsL,19BCT2132,G,Sakthi Non-Veg,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,uxIZXA,19BBS1008,E,Darling-special,1,1,0,1,1,1,...,0,1,1,0,1,1,1,1,0,23
996,uzdcWI,19BBS0049,C,Sakthi Non-Veg,1,0,1,1,1,1,...,1,0,1,1,1,0,0,1,1,24
997,ZrWYtLi,21BCT2501,D,Darling-special,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,26
998,RSzxp,22BKT1271,D,Neelkesh Veg,1,0,1,1,1,1,...,1,1,1,0,1,1,1,0,0,23
999,GWNFhAVcS,19BCB2842,G,Darling-special,1,1,1,1,0,0,...,0,0,1,1,1,1,1,0,1,21

In [11]:
sorted_df = df.sort_values(by='MessType')

In [12]:
sorted_df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,TotalPresent
999,GWNFhAVcS,19BCB2842,G,Darling-special,1,1,1,1,0,0,...,0,0,1,1,1,1,1,0,1,21
333,uHSPJnADz,21BCE0110,E,Darling-special,1,1,0,0,1,1,...,1,1,1,0,1,1,0,1,1,23
818,qrlArmeuw,22BDS0048,G,Darling-special,1,1,1,1,0,1,...,1,1,0,1,0,1,1,0,1,25
329,acqBjnjQ,19BCT1627,F,Darling-special,0,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,25
647,nfWdTCXUA,19BCB1067,B,Darling-special,1,0,1,1,1,1,...,1,1,0,1,0,1,1,1,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,hQyxptHkrt,21BBS0814,B,Sakthi Veg,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,0,26
351,dozdyRxLgF,22BKT2295,H,Sakthi Veg,1,1,0,0,1,0,...,0,1,1,1,1,1,1,1,1,25
347,GHGIFqABY,19BKT2011,B,Sakthi Veg,1,1,1,1,0,0,...,1,1,0,1,0,1,1,1,1,21
790,exuGrNMM,19BBS0061,H,Sakthi Veg,1,1,1,1,1,0,...,0,1,1,1,1,1,1,1,1,27
499,KAHHTfxrVz,21BKT2617,E,Sakthi Veg,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,24

### No. of students enrolled in the mess

In [13]:
grouped_df = df.groupby('MessType')
group_count=grouped_df.size()
print(group_count)

MessType
Darling-special     201
Neelkesh Special    177
Neelkesh Veg        208
Sakthi Non-Veg      198
Sakthi Veg          216
dtype: int64

### Total meals in each mess

In [22]:
for group_name, group_data in grouped_df:
    print(f"Mess Caterer: {group_name}")
    print('Total meals')
    print(sum(group_data['TotalPresent']))
    print()

Mess Caterer: Darling-special
Total meals
4870

Mess Caterer: Neelkesh Special
Total meals
4236

Mess Caterer: Neelkesh Veg
Total meals
5003

Mess Caterer: Sakthi Non-Veg
Total meals
4800

Mess Caterer: Sakthi Veg
Total meals
5139

### Attendance report of each student mess wise

In [45]:
days=int(input('Data required till which date: '))

Data required till which date: 5

In [46]:
columns=['Name','RegistrationNo','Block','MessType']
for i in range(1,days+1):
    columns.append(str(i))
print(columns)

['Name', 'RegistrationNo', 'Block', 'MessType', '1', '2', '3', '4', '5']

In [52]:
group_dfs = []
group_names=[]
for group_name, group_data in grouped_df:
    group_dfs.append(group_data)
    group_names.append(group_name)
  


for i, group_df in enumerate(group_dfs):
    print(group_names[i])
    print(group_df[columns])
    print()

Darling-special
           Name RegistrationNo Block         MessType  1  2  3  4  5
3       bkjzhaX      22BCE0570     B  Darling-special  1  1  1  0  1
6     LSftMSils      21BBS1102     G  Darling-special  0  1  1  1  1
7        oNlshR      19BDS0142     F  Darling-special  1  1  1  1  1
9         tpVER      22BBS2800     B  Darling-special  1  1  1  1  1
17    tmUmAUQgv      20BDS3596     E  Darling-special  0  1  1  1  0
..          ...            ...   ...              ... .. .. .. .. ..
992   MRzDZpAEq      19BBS2992     A  Darling-special  0  1  1  1  1
993  sySqAWUerC      22BCT3494     F  Darling-special  1  1  1  1  0
995      uxIZXA      19BBS1008     E  Darling-special  1  1  0  1  1
997     ZrWYtLi      21BCT2501     D  Darling-special  0  1  1  0  1
999   GWNFhAVcS      19BCB2842     G  Darling-special  1  1  1  1  0

[201 rows x 9 columns]

Neelkesh Special
           Name RegistrationNo Block          MessType  1  2  3  4  5
1         ClAye      20BKT2525     E  Neelkesh Special  0  1  1  1  0
12     FzvqAoAC      22BCB2959     F  Neelkesh Special  1  1  0  0  1
16      ZEpbtQK      19BCE1137     G  Neelkesh Special  1  1  1  1  1
23     sfNvXYqj      20BCT0849     C  Neelkesh Special  0  0  1  1  1
28   vLItvrdAyz      21BDS1391     D  Neelkesh Special  1  1  1  1  1
..          ...            ...   ...               ... .. .. .. .. ..
981      VHesYP      20BCT3827     G  Neelkesh Special  1  0  1  1  1
983    IRxDcQEN      22BCB0367     A  Neelkesh Special  0  1  1  1  0
984   JtvrKskIJ      21BKT3336     A  Neelkesh Special  1  0  1  1  1
988     gwPqQFc      21BBS1171     H  Neelkesh Special  0  1  1  0  1
989      hFdYCY      20BCE2540     G  Neelkesh Special  1  1  1  1  1

[177 rows x 9 columns]

Neelkesh Veg
           Name RegistrationNo Block      MessType  1  2  3  4  5
10       tUzFhQ      21BBS0121     B  Neelkesh Veg  1  1  1  0  1
13   rLCTFuJqJl      21BDS0479     A  Neelkesh Veg  1  1  0  1  1
24        jzMTq      21BKT0008     H  Neelkesh Veg  1  1  1  1  0
25      hjPugBx      19BDS1370     B  Neelkesh Veg  1  1  1  1  0
35        VdNdk      22BKT2901     E  Neelkesh Veg  1  1  1  1  1
..          ...            ...   ...           ... .. .. .. .. ..
971      pkiKZN      19BDS1141     G  Neelkesh Veg  1  1  0  1  1
973      wuqRWx      21BCT2136     F  Neelkesh Veg  1  1  1  0  1
976      tmKcLQ      19BBS0438     D  Neelkesh Veg  1  1  1  1  1
987      KtiXih      21BBS3268     B  Neelkesh Veg  1  1  1  1  1
998       RSzxp      22BKT1271     D  Neelkesh Veg  1  0  1  1  1

[208 rows x 9 columns]

Sakthi Non-Veg
         Name RegistrationNo Block        MessType  1  2  3  4  5
0       yBvwB      20BKT3458     E  Sakthi Non-Veg  1  1  1  1  1
4      UjGGsL      19BCT2132     G  Sakthi Non-Veg  0  1  1  1  0
11    lKNxYAZ      20BCE0140     H  Sakthi Non-Veg  1  1  0  1  1
14   XKFdXMOk      19BCB2499     G  Sakthi Non-Veg  1  1  1  0  1
27      BXpiX      20BDS3770     C  Sakthi Non-Veg  1  1  1  1  1
..        ...            ...   ...             ... .. .. .. .. ..
977    SJQgqJ      22BCE1004     E  Sakthi Non-Veg  1  1  1  1  1
979    KCssim      22BBS0267     G  Sakthi Non-Veg  1  1  1  0  1
980    YBeFjI      19BDS1692     H  Sakthi Non-Veg  1  1  1  0  0
990  OiRQMTXU      19BCT1470     B  Sakthi Non-Veg  1  1  1  1  1
996    uzdcWI      19BBS0049     C  Sakthi Non-Veg  1  0  1  1  1

[198 rows x 9 columns]

Sakthi Veg
           Name RegistrationNo Block    MessType  1  2  3  4  5
2    EcvZRykisk      22BBS0526     D  Sakthi Veg  1  1  1  1  1
5    NfBUlkOjuR      21BKT1897     C  Sakthi Veg  1  1  1  1  1
8         jEMvO      20BBS1806     B  Sakthi Veg  1  0  1  1  1
15      SxaVZTM      20BCE1793     A  Sakthi Veg  0  1  1  1  0
18      MdghMpk      22BCT0379     F  Sakthi Veg  1  1  1  1  1
..          ...            ...   ...         ... .. .. .. .. ..
968      xpCNFC      22BCT3747     C  Sakthi Veg  1  1  1  1  1
985   mqakIvUVY      20BCE2050     F  Sakthi Veg  1  0  1  0  0
986       GGDZy      19BBS1112     C  Sakthi Veg  1  0  1  0  0
991       hfGhQ      21BKT0190     C  Sakthi Veg  1  0  1  1  0
994     lhSkunT      21BDS2248     G  Sakthi Veg  1  1  1  0  1

[216 rows x 9 columns]