In [38]:
import pandas as pd
import random
import string

num_names = 1000

names = [''.join(random.choices(string.ascii_letters, k=random.randint(5, 10))) for _ in range(num_names)]

df = pd.DataFrame({'Name': names})

In [39]:
yy=  [''.join(random.choices(['19','20','21','22'], k=1)) for _ in range(num_names)]
bra=  [''.join(random.choices(['BCB','BCE','BCT','BDS','BKT','BBS'], k=1)) for _ in range(num_names)]
regn=[]
for i in range(num_names):
    rand= random.randint(1, 4000)
    numb = str(rand).zfill(4)
    s=yy[i]+bra[i]+numb
    regn.append(s)
df['RegistrationNo']=regn

In [40]:
block=  [''.join(random.choices(['A','B','C','D','E','F','G','H'], k=1)) for _ in range(num_names)]
df['Block']=block
mess=  [''.join(random.choices(['Sakthi Veg','Sakthi Non-Veg', 'Darling-special', 'Neelkesh Veg', 'Neelkesh Special'], k=1)) for _ in range(num_names)]
df['MessType']=mess

In [41]:
for i in range(1,31):
    atten=  [''.join(random.choices(['P','A'], [0.8,0.2], k=1)) for _ in range(num_names)]
    date=str(i)
    df[date]=atten

In [42]:
df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,21,22,23,24,25,26,27,28,29,30
0,FikWjCrO,20BKT2871,H,Darling-special,A,P,P,P,P,P,...,P,P,P,P,A,P,P,A,P,P
1,DzCgMlBI,22BDS1633,G,Sakthi Veg,A,P,P,P,P,A,...,P,P,P,P,P,P,P,P,P,P
2,fxtGCjv,19BCT1397,A,Neelkesh Special,P,P,P,A,P,A,...,P,P,P,A,P,P,P,P,P,P
3,vyxfeDD,19BCB1932,F,Neelkesh Veg,P,P,P,A,P,P,...,P,P,P,A,P,P,P,P,P,A
4,EnYtOVEIe,21BCB2002,C,Neelkesh Veg,P,P,P,P,P,P,...,P,P,A,A,P,P,P,A,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,UxeMygH,22BCB3950,A,Neelkesh Special,P,P,P,P,P,P,...,P,P,A,A,P,P,P,P,A,P
996,aPkwSjRZ,21BCT1062,B,Sakthi Veg,A,P,A,P,A,P,...,A,P,P,P,P,P,P,A,P,A
997,hJVAMy,21BCB3518,B,Darling-special,A,P,P,P,P,P,...,A,P,P,P,P,P,P,P,P,P
998,ShRvHvUJfI,19BKT2003,B,Sakthi Veg,P,P,P,P,A,P,...,P,P,P,P,P,P,P,P,P,P
999,JPJXx,21BCE0380,C,Sakthi Veg,A,P,P,P,P,P,...,P,P,P,P,P,P,A,P,P,P

In [43]:
mapping = {'A': 0, 'P': 1}
for i in range(1,31):
    df[str(i)]=df[str(i)].map(mapping)

In [44]:
df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,21,22,23,24,25,26,27,28,29,30
0,FikWjCrO,20BKT2871,H,Darling-special,0,1,1,1,1,1,...,1,1,1,1,0,1,1,0,1,1
1,DzCgMlBI,22BDS1633,G,Sakthi Veg,0,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
2,fxtGCjv,19BCT1397,A,Neelkesh Special,1,1,1,0,1,0,...,1,1,1,0,1,1,1,1,1,1
3,vyxfeDD,19BCB1932,F,Neelkesh Veg,1,1,1,0,1,1,...,1,1,1,0,1,1,1,1,1,0
4,EnYtOVEIe,21BCB2002,C,Neelkesh Veg,1,1,1,1,1,1,...,1,1,0,0,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,UxeMygH,22BCB3950,A,Neelkesh Special,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,0,1
996,aPkwSjRZ,21BCT1062,B,Sakthi Veg,0,1,0,1,0,1,...,0,1,1,1,1,1,1,0,1,0
997,hJVAMy,21BCB3518,B,Darling-special,0,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
998,ShRvHvUJfI,19BKT2003,B,Sakthi Veg,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
999,JPJXx,21BCE0380,C,Sakthi Veg,0,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1

In [45]:
dates=[]
for i in range(1,31):
    dates.append(str(i))
df['TotalPresent'] = df[dates].sum(axis=1)

In [46]:
df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,TotalPresent
0,FikWjCrO,20BKT2871,H,Darling-special,0,1,1,1,1,1,...,1,1,1,0,1,1,0,1,1,23
1,DzCgMlBI,22BDS1633,G,Sakthi Veg,0,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,26
2,fxtGCjv,19BCT1397,A,Neelkesh Special,1,1,1,0,1,0,...,1,1,0,1,1,1,1,1,1,25
3,vyxfeDD,19BCB1932,F,Neelkesh Veg,1,1,1,0,1,1,...,1,1,0,1,1,1,1,1,0,25
4,EnYtOVEIe,21BCB2002,C,Neelkesh Veg,1,1,1,1,1,1,...,1,0,0,1,1,1,0,1,1,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,UxeMygH,22BCB3950,A,Neelkesh Special,1,1,1,1,1,1,...,1,0,0,1,1,1,1,0,1,27
996,aPkwSjRZ,21BCT1062,B,Sakthi Veg,0,1,0,1,0,1,...,1,1,1,1,1,1,0,1,0,20
997,hJVAMy,21BCB3518,B,Darling-special,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,27
998,ShRvHvUJfI,19BKT2003,B,Sakthi Veg,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,25
999,JPJXx,21BCE0380,C,Sakthi Veg,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,23

In [56]:
sorted_df = df.sort_values(by='MessType')

In [57]:
sorted_df

,Name,RegistrationNo,Block,MessType,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,TotalPresent
0,FikWjCrO,20BKT2871,H,Darling-special,0,1,1,1,1,1,...,1,1,1,0,1,1,0,1,1,23
352,DTCiVWKV,19BCB3288,E,Darling-special,0,1,0,1,1,1,...,1,1,1,1,1,0,1,1,1,22
839,NHTvY,20BCT1257,E,Darling-special,1,1,1,0,0,1,...,1,1,0,1,1,0,1,1,1,23
339,TFGipw,22BCT3189,G,Darling-special,1,1,1,1,1,0,...,1,1,1,0,1,1,1,1,1,25
335,TUUuJ,21BCT2566,G,Darling-special,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,fXfKuhtdFN,22BCE1996,F,Sakthi Veg,1,0,1,1,1,1,...,1,1,0,1,1,1,1,1,0,24
833,SyOLSwu,21BCT2403,A,Sakthi Veg,1,1,1,0,0,0,...,0,1,1,1,1,1,1,1,1,24
358,ZysTx,19BCT2874,A,Sakthi Veg,0,1,0,1,1,1,...,1,1,0,0,0,1,1,1,1,21
418,OBZrOh,22BCT0920,E,Sakthi Veg,0,1,0,1,1,1,...,1,1,0,1,1,1,1,1,0,21
999,JPJXx,21BCE0380,C,Sakthi Veg,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,23

In [68]:
grouped_df = df.groupby('MessType')
group_count=grouped_df.size()
print(group_count)

MessType
Darling-special     199
Neelkesh Special    217
Neelkesh Veg        208
Sakthi Non-Veg      198
Sakthi Veg          178
dtype: int64

In [75]:
for group_name, group_data in grouped_df:
    print(f"Mess Caterer: {group_name}")
    print('No. of days/month each student present in the mess ')
    print(group_data['RegistrationNo'], group_data['TotalPresent'])
    print()
    print('Total meals')
    print(sum(group_data['TotalPresent']))
    print()

Mess Caterer: Darling-special
No. of days/month each student present in the mess
0      20BKT2871
19     22BDS2948
21     21BBS1897
24     22BCB3587
31     20BBS0564
         ...
949    21BCT3489
970    20BCE1541
987    20BDS0480
994    22BDS3399
997    21BCB3518
Name: RegistrationNo, Length: 199, dtype: object 0      23
19     20
21     27
24     26
31     23
       ..
949    24
970    23
987    22
994    26
997    27
Name: TotalPresent, Length: 199, dtype: int64

Total meals
4781

Mess Caterer: Neelkesh Special
No. of days/month each student present in the mess
2      19BCT1397
8      19BKT2987
11     22BKT0859
15     19BBS1153
17     22BCE1531
         ...
976    22BBS3911
977    20BBS3837
978    20BCT3609
990    22BKT1180
995    22BCB3950
Name: RegistrationNo, Length: 217, dtype: object 2      25
8      26
11     25
15     22
17     24
       ..
976    25
977    24
978    25
990    27
995    27
Name: TotalPresent, Length: 217, dtype: int64

Total meals
5247

Mess Caterer: Neelkesh Veg
No. of days/month each student present in the mess
3      19BCB1932
4      21BCB2002
6      20BCE1270
12     19BCE0157
14     22BDS2479
         ...
986    19BDS1211
988    22BDS0341
991    21BCE0469
992    22BBS2249
993    19BCB2135
Name: RegistrationNo, Length: 208, dtype: object 3      25
4      25
6      25
12     21
14     20
       ..
986    25
988    19
991    25
992    25
993    23
Name: TotalPresent, Length: 208, dtype: int64

Total meals
4958

Mess Caterer: Sakthi Non-Veg
No. of days/month each student present in the mess
9      19BCB2880
10     19BBS1609
22     19BCT3029
28     19BCT0951
29     21BCE3374
         ...
971    19BDS2105
974    21BBS2817
982    22BBS2997
983    19BKT2746
985    19BCE1033
Name: RegistrationNo, Length: 198, dtype: object 9      23
10     20
22     21
28     27
29     24
       ..
971    18
974    23
982    22
983    25
985    23
Name: TotalPresent, Length: 198, dtype: int64

Total meals
4720

Mess Caterer: Sakthi Veg
No. of days/month each student present in the mess
1      22BDS1633
5      21BCT1266
7      19BKT0765
13     20BCE2626
18     21BCT3375
         ...
984    22BCE3843
989    21BKT0478
996    21BCT1062
998    19BKT2003
999    21BCE0380
Name: RegistrationNo, Length: 178, dtype: object 1      26
5      24
7      25
13     20
18     23
       ..
984    22
989    25
996    20
998    25
999    23
Name: TotalPresent, Length: 178, dtype: int64

Total meals
4230

In [76]:
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029D6C52B670>